// The base features for overlaying items
// partials start with an underscore
body {
    background: $dark-blue;
    font-family: Helvetica, Calibri, sans-serif;
    font-size: $m-size;
}

// Setting fonts to this makes 1 rem like 10 pixels
html{
    font-size: 62.5%;
}

//Set all cursers to pointers on ALL buttons
button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

// There are multiple screen units like pixels
// rem's are like pixesls but better for accessibility
// By default 1 rem converts to 16 pixels. 
// h1 {
//     font-size: 1rem;
// }

